<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Hoque Enterprise : LOCATION</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
	<link rel="stylesheet" href="" th:href="@{/css/Locate_us.css}" />
</head>

<body>
<nav th:replace="~{Navigation::navbar()}"></nav>
<div style="text-align: center;"> <!-- Center the heading and small tag -->
	<h1>Our Location</h1>
	<small>Internet is required to access map</small>
</div>
<div class="location">
	<!-- Centered Google Maps iframe -->
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3050.3033334349125!2d-74.94258672400295!3d40.13552647148616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c1529ecad33641%3A0x23030a436aad2902!2s3237%20Bristol%20Rd%2C%20Bensalem%2C%20PA%2019020!5e0!3m2!1sen!2sus!4v1711088061228!5m2!1sen!2sus"
			width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</body>

</html>
